* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 750px;
  margin: 0 auto; /* Centra il contenitore orizzontalmente */
  padding: 24px 0;
}
h1 {
  margin-top: 8px;
  margin-bottom: 4px;
}
.card-politici {
  padding: 16px;
  min-height: 200px;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  background: #fff;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.card-politici img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 12px;
}
.card-politici h3 {
  margin: 8px 0 4px 0;
  font-size: 1.2rem;
}
.card-politici p {
  margin-bottom: 6px;
  color: #444;
}
